asgiref==3.3.4
Django==3.2.2
django-3-jet==1.0.8
django-js-asset==1.2.2
django-mptt==0.12.0
django-phonenumber-field==5.1.0
djangorestframework==3.12.4
Pillow==8.2.0
psycopg2-binary==2.8.6
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
utils==1.0.1
